body {
    margin-left: 20px;
}
.card{
    width: 500px;
    background-color: lightgray;
    border: 1px solid darkgray;
}
 .verktøy{
    background-color: #3cba54;
    color: white;
 }   

 .html{
    background-color: #4885ed;
    color: white;
 }
 .css{
    background-color: #db3236;
    color: white;
 }
 
 .javaScript{
    background-color: #f4c20d;
    color: white;
 }
 .kropp{
    background-color: #36393f;
    color: white;
 }

 #conteiner {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns as per your requirement */
   gap: 20px;
}